<!DOCTYPE html>
html lang="en"
    head
        title - Edit book details.
        link href="/css/style.css" rel="stylesheet"
        script src="components/jquery/jquery.js" type="text/javascript"
        script src="components/jquery/jquery.min.js" type="text/javascript"
        script src="/js/formaction.js" type="text/javascript"
    body
        <if(data.err === 0)>
            <for(book in data.data)>
                <table>
                    <tr> 
                        <td>
                            <h1> Edit details of ${book.title} </h1>
                            <br>
                                <table>
                                    <tr>
                                        <td> Book title :  </td>
                                        <td> <input form="edit" type="text" id="title" value="${book.title}" >  </td>
                                    </tr>
                                    <tr>
                                        <td> Author :  </td>
                                        <td> <input form="edit" type="text" id="author"  value="${book.author}">  </td>
                                    </tr>
                                    <tr>
                                        <td> ISBN :  </td>
                                        <td> <input form="edit" type="text" id="isbn" value="${book.isbn} ">  </td>
                                    </tr>
                                    <tr>
                                        <td> Price :  </td>
                                        <td> <input form="edit" type="text" id="price" value="${book.price}">  </td>
                                    </tr>
                                    <tr> 
                                        <td>
                                            <input form="edit" type="submit" name="Submit" onclick="handleUpdateAction(this)">
                                            <input form="edit" type="hidden" id="bid" value="${book._id}">
                                        </td>
                                    </tr>
                                </table>
                            <br>
                                <table>
                                    <tr>
                                        <td>Delete this book : </td>
                                        <td>
                                            <input form="delete" type="submit" id="Submit" value="Delete Now" onclick="handleDeleteAction(this)">
                                            <input form="delete" type="hidden" id="bid" value="${book._id}">            
                                        </td>
                                    </tr>
                                </table>
                        </td>
                    </tr>
                </table>
            </for>
            <br>
            <a href="/books"> Go to book list </a>
		</if>                
        div else
            - ${data.data}